
:root {
  --color-accent: oklch(65% 50% 0);
}
html {
  accent-color: var(--color-accent);
  color-scheme: light dark;
}
body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 25px;
}


nav li{
    display:contents;
}
nav a{
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding : 0.5em;
  }

  nav a.current{
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.1em;
  }

  nav {
    display: flex;
    margin-bottom: 2em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    /* border-bottom-color: oklch(80% 3% 200); */
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom: 1px solid var(--border-color);
  }

  nav a:hover{
    border-bottom: 0.4em solid var(--color-accent);
    /* background-color: oklch(from var(--color-accent) 95% 5% h); */
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  }
  form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
  }
  form input, form textarea, form button, form select{
    font: inherit;
    /* display: block; */
    /* width: 100%; */
    /* box-sizing: border-box; */
  }

  form label{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    /* display:block; */
    /* margin-block: 0.5em; */
  } 
  form button{
    grid-column: 1 / -1;
  }

  .projects{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap : 1em;
  }

  .projects article{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
  }

  .projects h2{
    margin: 0;
  }
  h1 {
    font-size : 2.5rem;
  }

  h1,h2,h3,h4,h5,h6{
    line-height:1.1;
    text-wrap: balance;
  }

  section{
  margin-bottom: 0.5em;
  padding: 0.5em;
  background-color: var(--color-section-bg);
  }

  article {
    margin-bottom : 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px dashed oklch(85% 3% 200);
  }
  article header h3 {
    margin: 0;
    font-weight: 600;
  }

  article time {
    font-size: 0.9em;
    color: oklch(45% 2% 160);
  }

  .color-scheme{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
    font-family: inherit;
  }

  .project-year {
    color: gray;
    font-family: Baskerville;
    font-variant-numeric: oldstyle-nums;
  }
  
  #projects-pie-plot {
    max-width: 20em;
    margin-block: 2em;
    overflow: visible;
  }

